# 敏感配置
.env
.venv
tmp/cookies.json
tmp/storage_state.json

# Python
__pycache__/
*.pyc

# 本地 conda 环境
.conda/

# 数据与日志
data/
tmp/
.venv/
evaluation/reports

# 系统文件
.DS_Store
**/.DS_Store

# IDE / 编辑器
.vscode/settings.json
.idea/